[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/danb0b/external_liva-hugo.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
