{{ define "sb"}}
{{ partial "sidebar_recipes.html" . }}
{{ end }}

{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
      <h2> Recipes </h2>
        <div class="row">
          {{ $paginator := .Paginate .Pages 10 }}
          {{ range $paginator.Pages }}
          {{ .Render "post_little" }}
          {{ end }}
        </div>
        <!-- pagination -->
        <div class="row justify-content-center">
        <!-- {{ partial "paginator.html" . }} -->
        {{ template "_internal/pagination.html" . }}
        </div>
      </div>
      <!-- sidebar -->
        {{- block "sb" . }}{{- end }}
      <!-- /sidebar -->
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}
