/*  typography */

body {
  line-height: 1.4;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: $text-color;
}

p, .paragraph{
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.4;
  font-family: $primary-font;
  margin-bottom: 10px;
}

li {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.2;
  font-family: $primary-font;
  margin-bottom: 6px;
}

.nav-item {  
  font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: $text-color-dark;
  font-weight: 700;
  line-height: 1.3 !important;
  &:not([class^='ti-']) {
    font-family: $secondary-font;
  }
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $text-color-dark;
  }
}

h1, .h1{
  font-size: 45px;
}

h2, .h2{
  font-size: 36px;
}

h3, .h3{
  font-size: 28px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 16px;
}
