@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&display=swap');

// Color Variables
$primary-color: #006aff;
$text-color: #393939;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #5178ae;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
