<article class="card featured-post">
  <div class="row no-gutters align-items-center">
    <div class="col-md-5">
        <img src="{{ .Params.Image | default .Site.Params.default_image | absURL }}" class="card-img" alt="{{ .Title | markdownify }}">

    </div>
    <div class="col-md-6 offset-md-1">
      <div class="card-body">
        <div class="mb-3 post-meta">
          <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
          {{ if .PublishDate }}
          <span class="border-bottom border-primary px-2 mx-1"></span>
          <span>{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ end }}
        </div>
        <a href="{{ .Permalink }}"
          class="h1 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title | markdownify }}</a>
        <p class="card-text">{{.Summary}}...</p>
      </div>
    </div>
  </div>
</article>