<div class="col col-6 d-flex align-items-start">
  {{ if .Params.Image }}
  <img src="{{ .Params.Image | absURL }}" style="height:3em;" class="bi text-muted flex-shrink-0 mr-3" alt="{{ .Title | markdownify }}">
  {{ else }}
  {{ if .Params.Icon }}
  <i style="font-size:2rem;" class="bi text-muted flex-shrink-0 mr-3 {{.Params.icon }}"></i>
  {{else}}
  <i style="font-size:2rem;" class="bi text-muted flex-shrink-0 mr-3 {{.Site.Params.default_recipe_icon}}"></i>
  {{ end }}{{ end }}

    <div>
      <h4 class="fw-bold mb-0"><a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a></h4>
      {{ range .Params.Categories }}
      <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
      {{ end }}

      <p>{{ .Summary | markdownify }}</p>
      <ul class="list-inline">
        {{ range .Params.recipe_tags }}
        <li class="list-inline-item mb-1 mr-2 mt-1">
        <a class="d-block p-2 bg-primary text-white" href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
        </li>
        {{- end }}
      </ul>
    </div>
</div>
