<div class="col-md-6 mb-4">
    <article class="card">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        {{ else }}
        {{ if .Params.Icon }}
        <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Params.icon }}"></i></div>
        {{else}}
        <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Site.Params.default_recipe_icon}}"></i></div>
        {{ end }}{{ end }}
        <div class="card-body px-0">
        <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
        <div class="mb-3 post-meta">
            <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
            {{ if .PublishDate }}
            <span class="border-bottom border-primary px-2 mx-1"></span>
            <span>{{ .PublishDate.Format "02 January 2006" }}</span>
            {{ end }}
        </div>
        <p class="card-text">{{ .Summary | markdownify }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
        <ul class="list-inline mt-3">
          {{ range .Params.recipe_tags }}
          <li class="list-inline-item">
          <a class="d-block p-2 bg-primary text-white" href="{{ `recipe_tags/` | relLangURL }}{{ . | urlize | lower }}"
            class="text-primary">{{ . | title | humanize }}</a>
            </li>
          {{- end }}
        </ul>
        </div>
    </article>
</div>
