<div class="col-lg-4 pb-3">
  <article class="media">
    <div class="mr-3">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" class="recent-post-thumb card-img" alt="{{ .Title | markdownify }}">
        {{ else }}
        {{ if .Params.Icon }}
        <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Params.icon }}"></i></div>
        {{else}}
        <div class="text-center" style="font-size:5rem;line-height:1;"><i class="{{.Site.Params.default_icon}}"></i></div>
        {{ end }}{{ end }}
    </div>
    <div class="media-body">
      <div class="post-meta">
        <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
        <span>By {{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</span>
        {{ if .PublishDate }}
        <span class="border-bottom border-primary px-2 mx-1"></span>
        <span>{{ .PublishDate.Format "02 Jan 2006" }}</span>
        {{ end }}
        <p>{{ .Summary | markdownify }}</p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
      </div>
    </div>
  </article>
</div>
