<div class="col-lg-4">
  <div class="widgets">
    <!-- Tags -->
    <div class="widget">
      <h4 class="widget-title">Tags</h4>
      {{- if isset .Site.Taxonomies "recipe_tags" }}
      {{- if not (eq (len .Site.Taxonomies.recipe_tags) 0) }}
      <ul class="list-inline">
        {{- range $name, $items := .Site.Taxonomies.recipe_tags }}
        <li class="list-inline-item"><a class="d-block p-2 bg-primary text-white"
            href="{{ `recipe_tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div>
    <!-- about -->
    {{ partial "bio.html" . }}
    <!-- advertisement -->
    <div class="widget">
      <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid">
    </div>
  </div>
</div>