{{ define "sb"}}
{{ partial "sidebar_notags.html" . }}
{{ end }}


{{ define "main" }}

<!-- featured post -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Site.RegularPages "Type" "featured" )}}
        {{ .Render "post_top" }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

<!-- recent post -->
<section>
  <div class="container">
    <div class="row">
      {{ range first 3 ( where .Site.RegularPages "Type" "starred" )}}
      {{ .Render "post_4" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /recent post -->

<!-- blog post -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate (where (where .Pages "Params.type" "<>" "starred") "Params.show_front" "!=" false) }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
      <!-- sidebar -->
        {{- block "sb" . }}{{- end }}
      <!-- /sidebar -->

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}