{{ define "title" }} {{.Title}} | {{.Site.Title}} {{ end }}

{{ define "sb"}}
{{ partial "bottom_bar.html" . }}
{{ end }}

{{ define "main" }}

<section>
  <div class="container">
    <h1>{{ .Title }}</h1>
    <article>{{ .Content }}</article>
  </div>
</section>

{{ $featured:=(where .Pages ".Type" "=" "featured")}}
{{ if (gt (len ($featured)) 0)}}
<!-- featured post -->
<section>
  <div class="container">
   <h2>Featured</h2>
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range $featured }}
        {{ .Render "post_top" }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->
{{end}}

{{ $starred:= (where .Pages ".Type" "=" "starred")}}
{{ if (gt (len ($starred)) 0)}}
<!-- recent post -->
<section>
  <div class="container">
   <h2>Highlighted</h2>
    <div class="row">
        {{ range $starred }}
      {{ .Render "post2" }}
      {{ end }}
    </div>
  </div>
</section>
{{end}}

<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5 mb-lg-0">
    {{ if (or (gt (len ($featured)) 0) (gt (len ($starred)) 0))}}
      <h2> Posts</h2>
      {{end}}
        <div class="row">
          {{ $paginator := .Paginate ( where (where .Pages ".Type" "!=" "featured") ".Type" "!=" "starred" ) 10 }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
        <!-- pagination -->
        <div class="row justify-content-center">
        {{ partial "paginator.html" . }}
        </div>
      </div>
    </div>
    {{- block "sb" . }}{{- end }}
  </div>
</section>
<!-- /blog post -->

{{ end }}
