---
layout: default
---

<h1> {{page.title}} </h1>

{% if page.tags %}Tags: {% for tag in page.tags %}{{tag}}, {% endfor %}{% endif %}

{% if page.from %}<div><p>From <em>{{ page.from }}</em></p></div>{% endif %}
{% if page.modified_from %}<div><p>modified from <em>{{ page.modified_from }}</em></p></div> {% endif %}
{% if page.original_url %}<div><p><a href="{{ page.original_url }}">Original URL</a></p></div>{% endif %}

{% if page.images %}
<div>
{% for image in page.images%}
<img src="{{site.baseurl}}/recipes/images/{{image}}" />
{% endfor %}
</div>
{% endif %}

<div>
{{ content }}
</div>
